---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Library">
	<p class="font-bold text-center text-beau_blue text-3xl">Works</p>
	<p><br></p>
	<p class = "text-left pl-80 text-2xl underline">Top Works</p>
	<p><br><br><br></p>
	<p class = "text-left pl-80 text-2xl underline">From Your Philosophies</p>
	<p><br><br><br></p>
	<p class = "text-left pl-80 text-2xl underline">Philosophy Wall</p>
</PageLayout>

<style>

</style>
