---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Your Notepad">
	<p class = "font-bold text-center text-tan text-3xl">Your Notepad</p>
	<p><br><br></p>
</PageLayout>

<style>
	
</style>
