---
import PageLayout from "../layouts/PageLayout.astro";
import PhilosophyCard from "../components/PhilosophyCard.astro";
---

<<<<<<< HEAD
<PageLayout title="Wall">
  <div class="px-16">
    <h1 class="text-3xl p-8 font-bold">Philosophy Wall</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
      <PhilosophyCard title="Stoicism">Stoicism</PhilosophyCard>
      <PhilosophyCard title="Nihilism">Nihilism</PhilosophyCard>
      <PhilosophyCard title="Utilitarianism">Utilitarianism</PhilosophyCard>
      <PhilosophyCard title="Idealism">Idealism</PhilosophyCard>
      <PhilosophyCard title="Confuscianism">Confuscianism</PhilosophyCard>
      <PhilosophyCard title="Altruism">Altruism</PhilosophyCard>
=======
<PageLayout title = "Wall">
    <div class = "px-15">
        <h1 class = "text-3xl p-8 font-bold">Philosophy Wall</h1>
        <div class = "grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
            <PhilosophyCard title = "Stoicism">Stoicism</PhilosophyCard>
            <PhilosophyCard title = "Nihilism">Nihilism</PhilosophyCard>
            <PhilosophyCard title = "Utilitarianism">Utilitarianism</PhilosophyCard>
            <PhilosophyCard title = "Idealism">Idealism</PhilosophyCard>
            <PhilosophyCard title = "Confuscianism">Confuscianism</PhilosophyCard>
            <PhilosophyCard title = "Altruism">Altruism</PhilosophyCard>
        </div>
>>>>>>> 2fb2dcc (px-16 to px-15 :-))
    </div>
  </div>
</PageLayout>
